:root {
  --ion-color-primary: #0ea5e9;
  --ion-color-primary-rgb: 14, 165, 233;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #0c91cd;
  --ion-color-primary-tint: #26aeee;

  --ion-color-secondary: #f97316;
  --ion-color-secondary-rgb: 249, 115, 22;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #db6513;
  --ion-color-secondary-tint: #fb822d;

  --ion-color-tertiary: #1e3a8a;
  --ion-color-tertiary-rgb: 30, 58, 138;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #1a3379;
  --ion-color-tertiary-tint: #354f99;

  --ion-color-medium: #64748b;
  --ion-color-medium-rgb: 100, 116, 139;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #586678;
  --ion-color-medium-tint: #74819a;

  --ion-background-color: #0b0f13;
  --ion-text-color: #f8fafc;
}
