.combat-text {
  position: absolute;
  top: 30%;
  width: 100%;
  text-align: center;
  font-size: clamp(2.5rem, 6vw, 4.5rem);
  font-weight: 900;
  text-shadow: 0.4vmin 0.4vmin 0 rgba(0, 0, 0, 0.6);
  font-style: italic;
  opacity: 0.9;
  transform: scale(1.05) skewX(-12deg);
  pointer-events: none;
}
